<!doctype html>
<html class="no-js" lang="">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="x-ua-compatible" content="ie=edge">
        <title></title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">

        <link rel="apple-touch-icon" href="Assets/images/apple-touch-icon.png">
        <link rel="stylesheet" href="Assets/css/vendors.css">
        <link rel="stylesheet" href="Assets/css/styles.css">
    </head>
    <body class="page-home">
        <!--[if lt IE 8]>
            <p class="browserupgrade">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
        <![endif]-->
        <div class="page-wrapper" id="top">
            <div class="homepage-header">
                <div class="homepage-carousel owl-carousel owl-theme">
                    <div class="homepage-carousel-item owl-lazy is-loading" data-src="/Assets/images/samples/bmw-i3.jpg">
                        <footnote>
                            <h5>2016 BMW i3</h5>
                            <p>From $63,900</p>
                        </footnote>
                    </div>
                    <div class="homepage-carousel-item owl-lazy is-loading" data-src="/Assets/images/samples/mazda-cx-9.jpg">
                        <footnote>
                            <h5>2015 Mazda CX-9 Grand Touring</h5>
                            <p>From $42,000</p>
                        </footnote>
                    </div>
                </div>
            </div>

            <div class="page-body">
                <header class="page-header">
                    <div class="container">
                        <div class="logo"><a href="#">Trivett</a></div>
                        <ul>
                            <li class="icon icon-search"><a href="#">Search</a></li>
                            <li class="icon icon-menu"><a href="#">Menu</a></li>
                            <li class="icon icon-bell-o"><a href="#">Notifications</a></li>
                        </ul>
                    </div>
                </header>

                <div class="page-inner homepage-content">
                    <section class="homepage-section homepage-showroom">
                        <h2>EXPLORE OUR SHOWROOM</h2>
                        <h4>Find all the latest new cars. Search by brand, body type or budget</h4>
                    </section>

                    <section class="homepage-section homepage-featured">
                    </section>

                    <section class="homepage-section homepage-news">
                        <h2>NEWS &amp; EVENTS</h2>
                        <h4>Find all the latest news and reviews</h4>

                        <div class="container-fluid">
                            <div class="homepage-news-tile col-md-4 col-sm-6 col-xs-12">
                                <div class="news-container"></div>
                            </div>

                            <div class="homepage-news-tile col-md-4 col-sm-6 col-xs-12">
                                <div class="news-container"></div>
                            </div>

                            <div class="homepage-news-tile col-md-4 col-sm-6 col-xs-12">
                                <div class="news-container"></div>
                            </div>
                        </div>

                    </section>
                </div>

                <footer class="page-footer">
                </footer>
            </div>
        </div>

        <script src="Assets/js/trivett.js"></script>
        <script src="Assets/js/vendors.js"></script>
    </body>
</html>
