html, body {
    height: 100%;
}

html, body {
  box-sizing: border-box;
  font-family: sans-serif;
  line-height: 1.5;
}

body {
  background-color: #CCC;
  color: #333;
  margin: 0;
  font-family: $font-family;
  font-size: 14px;
  -webkit-font-smoothing: antialiased;

  * {
    box-sizing: border-box;
  }
}
h1, h2, h3, h4, h5, h6 {
  line-height: 1.5em;
}
